* {
	font-family: 'Open Sans', sans-serif;
  }

:root {
	--bg-color: #273238;
	--font-color: #fff;
	--wrong-color: #757575;
	--almost-color: #e4a81d;
	--correct-color: #43a047;
  }
  
  body {
	background-color: var(--bg-color);
	color: var(--font-color);
  }
  
  .main-container {
	width: 350px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
  }
  
  .title {
	width: 300px;
	text-align: center;
	margin-top: 80px;
	margin-bottom: 40px;
	font-size: 40px;
  }
  
  .game-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
  }
  
  .row-box {
	display: flex;
	justify-content: center;
	width: 100%;
  }
  
  .box {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	margin: 10px;
	width: 50px;
	height: 50px;
	border: 2px solid var(--font-color);
	border-radius: 4px;
  }
  
  .input {
	width: 300px;
	height: 32px;
	background-color: transparent;
	border: none;
	outline: none;
	border-bottom: 2px solid var(--font-color);
	color: var(--font-color);
	font-size: 18px;
	padding-left: 6px;
	margin-top: 30px;
  }
  .keyboard {
	max-width: 450px;
	margin: auto;
  }
  
  .keyboard-container {
	margin-top: 60px;
	margin-bottom: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
  }
  
  .keyboard-row {
	margin: auto;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  @media only screen and (min-width: 500px) {
	.keyboard-row {
	  padding: 2px;
	}
  }
  
  .keyboard-letter {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 55px;
	font-size: 22px;
	background-color: var(--font-color);
	color: var(--bg-color);
	border-radius: 6px;
	cursor: pointer;
  }
  .icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 63px;
	height: 55px;
	font-size: 28px;
	font-weight: bolder;
	background-color: var(--font-color);
	color: var(--bg-color);
	border-radius: 6px;
	cursor: pointer;
  }
  @media only screen and (max-width: 450px) {
	.keyboard-letter,
	.icon {
	  border-radius: 0px;
	  border: 1px solid var(--bg-color);
	}
  }
  
  .gameover-card {
	width: 300px;
	height: 500px;
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--bg-color);
	border-radius: 8px;
	box-shadow: 0px 0px 175px 50px rgba(0, 0, 0, 0.75);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
  }
  
  .gameover-title {
	width: 100%;
	text-align: center;
	font-size: 50px;
  }
  
  .newgame-button {
	width: 150px;
	height: 50px;
	font-size: 22px;
	border-radius: 6px;
	border: none;
	background-color: var(--correct-color);
	color: var(--font-color);
	cursor: pointer;
  }
  
  .newgame-button:hover {
	transform: scale(0.95);
  }
  
  .box-wrong {
	background-color: var(--wrong-color);
	color: var(--font-color);
  }
  .box-almost {
	background-color: var(--almost-color);
	color: var(--font-color);
  }
  .box-correct {
	background-color: var(--correct-color);
	color: var(--font-color);
  }
  
  .hidden {
	display: none;
  }
  